@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --primary: #FFC92F;
    --bg-light: #F3F3F3;
    --bg-dark: #191A23;

    --text-primary: black;
    --text-light: white;
    --disabled: #898989;
    
    --field-closed: #7F72FC;
    --field-closed-variant: #6C6A7D;
    --field-open: #FCF972;
    --field-open-variant: #FCD772;

    --blue: #1976D2;
    --green:#388E3C;
    --red: #EF5350;
    --purple: #78127d;
    --orange: #ff9d00;
    --light-blue: #00b2c6;
    --light-green: #48eb43;
    --pink: #ff00e6;

    --radius-xs: 7px;
    --radius-sm: 14px;
    --radius-xl: 45px;
}

/* Generic component CSS styles */

* {
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    margin: unset;
    padding: unset;    
}

.hide {
    display: none;
}

/* Text component CSS styles */

p {
    font-size: 1.125rem;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.25rem;
}

p, h1, h2, h3, h4 {
    color: var(--text-primary);
}

h3.header {
    background-color: var(--primary);
    border-radius: var(--radius-xs);
    padding: 0px 7px;
    width: fit-content;
}

h3.header.dark {
    background-color: var(--bg-light);
}

/* Content container CSS styles */

body {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    gap: 50px;
    margin: 0 100px;
    height: 100vh;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
}

nav {
    display: flex;
    gap: 25px;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 100%;
}

.content-column {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 640px;
}

.container-row-btn {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.container-header-text {
    display: flex;
    gap: 40px;
    align-items: center;
}

.container-header-text.column {
    flex-direction: column;
    gap: 10px;
}

.container-header-text h2 {
    white-space: nowrap;
}

/* Image component CSS styles */

.container-logo {  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.logo-icon {
    height: 64px;
    width: 64px;
}

.logo-content {
    height: 500px;
    width: 500px;
}

.logo-footer {
    height: 48px;
    width: auto;
}

/* Button component CSS styles */

.filled-btn {
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    font-size: 1.25rem;
    height: fit-content;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.2s;
}

.filled-btn:hover {
    opacity: 0.85;
}

.filled-btn.dark {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

.filled-btn.light {
    background-color: var(--bg-light);
    color: var(--text-primary);
}

.filled-btn.red {
    background-color: var(--red);
    color: var(--text-light);
    border: 1px solid var(--bg-dark);
}

.filled-btn.light.border {
    border: 1px solid var(--bg-dark);
}

nav a {
    text-decoration: none; 
    font-size: 1.25rem;
    color: var(--text-primary);
}

.label-btn {
    align-items: center;
    color: var(--text-primary);
    cursor: pointer;
    display: flex;
    font-size: 1.25rem;
    flex-wrap: wrap;
    gap: 15px;
    text-decoration: none;
    transition: opacity 0.2s;
}

.label-btn:hover {
    opacity: 0.85;
}

.label-btn.dark {
    color: var(--text-light);
}

/* Form component CSS styles */

.form-container {
    align-items: center;
    background-color: var(--bg-light);
    border-radius: var(--radius-xl);
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 640px;
    padding: 50px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.form-field {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.form-field.hug {
    flex-grow: 0;
}

.form-field-line {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

label {
    color: var(--text-primary);
    font-size: 1rem;
    margin-bottom: 5px;
}

input {
    padding: 18px 30px;
    border: 1px solid black;
    border-radius: var(--radius-sm);
    font-size: 1.125rem;
    width: 100%;
}

input:disabled {
    background-color: white;
    border: 1px solid var(--disabled);
    color: var(--disabled);
}

.form-container a {
    color: var(--text-primary);
    font-size: 1.125rem;
    text-decoration: none;
}

/* Game selection card CSS styles */

.container-cards {
    display: grid;
    flex-direction: row;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.container-cards .card:nth-child(odd) {
    justify-self: end;
}

.card {
    align-items: center;
    background-color: var(--bg-light);
    border: 1px solid var(--bg-dark);
    border-radius: var(--radius-xl);
    display: inline-flex;
    gap: 30px;
    justify-content: space-between;
    max-width: 600px;
    padding: 50px;
    width: 100%;
    align-items: start;
}

.column {
    display: flex;
    flex-direction: column;
}

.card.dark {
    background-color: var(--bg-dark);
}

.card > img {
    height: 185px;
    width: 185px;
}

.card-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-content: center;
}

.card-content-row > img {
    height: 185px;
    width: 185px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.card-content button + button {
    margin-top: 15px;
}

button {
    border: none;
    background: none;
}

/* Game board CSS styles */

.container-actions {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.card.actions { 
    padding: 20px 30px;
}

#game-board {
    background-color: var(--bg-light);
    border: 3px solid var(--bg-dark);
    border-radius: 5px;
    display: grid;
}

.field {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 1.875rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.field.open {
    background-color: var(--field-open);
}

.field.open.variant {
    background-color: var(--field-open-variant);
}

.field.closed {
    cursor: pointer;
    background-color: var(--field-closed);
    transition: opacity 0.2s;
}

.field.closed:hover {
    opacity: 0.85;
}

.field.closed.variant {
    background-color: var(--field-closed-variant);
}

.field > img {
    height: 30px;
    width:  30px;
}

.color-1 {
    color: var(--blue);
}

.color-2 {
    color:var(--green);
}
.color-3 {
    color: var(--red);
}
.color-4 {
    color: var(--purple);
}
.color-5 {
    color: var(--orange);
}
.color-6 {
    color: var(--light-blue);
}

.color-7 {
    color: var(--light-green);
}

.color-8 {
    color: var(--pink);
}

/* Table CSS styles */

table {
    background-color: var(--bg-light);
    border: 1px solid var(--bg-dark);
    border-collapse: collapse;
    border-radius: var(--radius-xl);
    display: block;
    gap: 20px;
    padding: 50px;
}

th {
    border-bottom: 2px solid black;
    padding: 15px;
    text-align: center;
    white-space: nowrap;
}

th span {
    font-size: 1.875rem;
    background-color: var(--primary);
    border-radius: var(--radius-xs);
    padding: 0px 7px;
    width: fit-content;
}

td {
    border-bottom: 1px solid black;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

/* Card about CSS styles */

.card.about{
    color: white;
    background-color: var(--bg-dark);
    max-width: 1150px;
    gap: 50px;
}

.card.about p {
    color: white;
}

.card.author {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 400px;
    padding: 40px 35px;
}

.vertical-divider{
    background-color: white; 
    height: 100%;
    width: 1px;
}

.horizontal-divider {
    background-color: black; 
    width: 100%;
    height: 1px;
}

.content-author {
    display:flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
    width: 100%;
}

.content-author > img {
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

.content-author > div {
    flex-grow: 1;
}

.content-author > a {
    align-self: flex-start;
}