@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --primary: #FFC92F;
    --bg-light: #F3F3F3;
    --bg-dark: #191A23;
    --text-primary: black;
    --text-light: white;
    --disabled: #898989;
    --field-closed: #7F72FC;
    --field-closed-variant: #6C6A7D;
    --field-open: #FCF972;
    --field-open-variant: #FCD772;

    --radius-xs: 7px;
    --radius-sm: 14px;
    --radius-xl: 45px;
}

/* Generic component CSS styles */

* {
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    margin: unset;
    padding: unset;    
}

.column {
    flex-direction: column;
}

/* Text component CSS styles */

p {
    font-size: 1.125rem;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.25rem;
}

p, h1, h2, h3, h4 {
    color: var(--text-primary);
}

/* Content container CSS styles */

body {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    gap: 50px;
    margin: 0 100px;
    height: 100vh;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
}

nav {
    display: flex;
    gap: 25px;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.content-column {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 640px;
}

.container-row-btn {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.container-header-text {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Image component CSS styles */

.container-logo {  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    height: 64px;
    width: 64px;
}

.logo-content {
    height: 500px;
    width: 500px;
}

.logo-footer {
    height: 48px;
    width: auto;
}

/* Button component CSS styles */

.filled-btn {
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
    font-size: 1.25rem;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.2s;
}

.filled-btn:hover {
    opacity: 0.85;
}

.filled-btn.dark {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

.filled-btn.light {
    background-color: var(--bg-light);
    color: var(--text-primary);
}

nav a {
    text-decoration: none; 
    font-size: 1.25rem;
    color: var(--text-primary);
}

/* Form component CSS styles */

.form-container {
    align-items: center;
    background-color: var(--bg-light);
    border-radius: var(--radius-xl);
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* TODO: Change fixed width to be the max width */
    width: 640px;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.form-field {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.form-field.hug {
    flex-grow: 0;
}

.form-field-line {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

label {
    color: var(--text-primary);
    font-size: 1rem;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    padding: 18px 30px;
    border: 1px solid black;
    border-radius: var(--radius-sm);
    font-size: 1.125rem;
    width: 100%;
}

.form-container a {
    color: var(--text-primary);
    font-size: 1.125rem;
    text-decoration: none;
}